<div ng-controller="htag.grideditorcontroller">
    <div class="htag">
        <textarea rows="1" class="textstring input-block-level text-{{control.textAlign}} {{control.hTag}}" localize="placeholder" placeholder="WriteHere" ng-model="control.value"></textarea>

        <ul>
            <li><localize key="general_Position">Position:</localize> </li>
            <li ng-click="setPosition('left')" ng-class="{'active': control.textAlign=='left'}">
                <i class="fas fa-align-left fa-lg"></i>
            </li>
            <li ng-click="setPosition('center')" ng-class="{'active': control.textAlign=='center'}">
                <i class="fas fa-align-center fa-lg"></i>
            </li>
            <li ng-click="setPosition('right')" ng-class="{'active': control.textAlign=='right'}">
                <i class="fas fa-align-right fa-lg"></i>
            </li>
        </ul>

        <ul>
            <li><localize key="general_Size">Size:</localize> </li>
            <li ng-click="setSize('h1')" ng-class="{'active': control.hTag=='h1'}">
                <span class="fa-layers fa-fw">
                    <i class="fas fa-heading fa-lg" data-fa-transform="shrink-2 left-2"></i>
                    <span class="fa-layers-text" data-fa-transform="shrink-2 right-10 up-1" style="font-weight:900">1</span>
                </span>
            </li>
            <li ng-click="setSize('h2')" ng-class="{'active': control.hTag=='h2'}">
                <span class="fa-layers fa-fw">
                    <i class="fas fa-heading fa-lg" data-fa-transform="shrink-2 left-2"></i>
                    <span class="fa-layers-text" data-fa-transform="shrink-2 right-10 up-1" style="font-weight:900">2</span>
                </span>
            </li>
            <li ng-click="setSize('h3')" ng-class="{'active': control.hTag=='h3'}">
                <span class="fa-layers fa-fw">
                    <i class="fas fa-heading fa-lg" data-fa-transform="shrink-2 left-2"></i>
                    <span class="fa-layers-text" data-fa-transform="shrink-2 right-10 up-1" style="font-weight:900">3</span>
                </span>
            </li>
            <li ng-click="setSize('h4')" ng-class="{'active': control.hTag=='h4'}">
                <span class="fa-layers fa-fw">
                    <i class="fas fa-heading fa-lg" data-fa-transform="shrink-2 left-2"></i>
                    <span class="fa-layers-text" data-fa-transform="shrink-2 right-10 up-1" style="font-weight:900">4</span>
                </span>
            </li>
            <li ng-click="setSize('h5')" ng-class="{'active': control.hTag=='h5'}">
                <span class="fa-layers fa-fw">
                    <i class="fas fa-heading fa-lg" data-fa-transform="shrink-2 left-2"></i>
                    <span class="fa-layers-text" data-fa-transform="shrink-2 right-10 up-1" style="font-weight:900">5</span>
                </span>
            </li>
            <li ng-click="setSize('h6')" ng-class="{'active': control.hTag=='h6'}">
                <span class="fa-layers fa-fw">
                    <i class="fas fa-heading fa-lg" data-fa-transform="shrink-2 left-2"></i>
                    <span class="fa-layers-text" data-fa-transform="shrink-2 right-10 up-1" style="font-weight:900">6</span>
                </span>
            </li>
        </ul>

    </div>
</div>