.headline .toolbar-wrapper {
    float: left;
    margin: 0 4px 4px 4px;
}

.headline .toolbar-wrapper > span {
    color: #b4b4b4;
    cursor: default;
    user-select: none;
    margin-left: 3px;
}

.headline .toolbar button {
    background: none;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid #fff;
    border-left: 0;
    padding: 8px 8px 2px 8px;
    color: #b4b4b4;
}

.headline .toolbar button.has-layers {
    display: flex;
    float: left;
    padding: 8px 4px 6px;
}

.headline .toolbar button.active {
    color: #1b264f;
    border-bottom: 3px solid #f5c1bc;
}

.headline textarea {
    font-weight: bold;
    height: 60px;
    line-height: 45px;
    border: none;
}

.headline .icon-wrap {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.headline .icon-layers-text {
    font-weight: bold;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-top: 4px;
    margin-left: 1px;
}

.headline textarea.text-left {
    text-align: left;
}
.headline textarea.text-center {
    text-align: center;
}
.headline textarea.text-right {
    text-align: right;
}

.headline textarea.h1 {
    font-size: 36px;
}
.headline textarea.h2 {
    font-size: 32px;
}
.headline textarea.h3 {
    font-size: 28px;
}
.headline textarea.h4 {
    font-size: 24px;
}
.headline textarea.h5 {
    font-size: 21px;
}
.headline textarea.h6 {
    font-size: 18px;
}
