.headline .toolbar-wrapper {
    display: none;
    float: left;
    margin: 0 4px 4px 4px;
}

.headline .toolbar-wrapper > span {
    color: #b4b4b4;
    cursor: default;
    user-select: none;
    margin-left: 3px;
}

.umb-control.-active .headline .toolbar-wrapper {
    display: block;
}

.headline .toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.headline .toolbar li {
    float: left;
    color: #b4b4b4;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline .toolbar li.active {
    color: #1b264f;
    border-bottom: 3px solid #f5c1bc;
}

.headline textarea {
    font-weight: bold;
    height: 60px;
    line-height: 45px;
    border: none;
}

.headline .icon-wrap {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.headline .icon-layers-text {
    font-weight: bold;
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1;
    display: flex;
    align-self: flex-end;
    margin-bottom: 6px;
}

.headline textarea.text-left {
    text-align: left;
}
.headline textarea.text-center {
    text-align: center;
}
.headline textarea.text-right {
    text-align: right;
}

.headline textarea.h1 {
    font-size: 36px;
}
.headline textarea.h2 {
    font-size: 32px;
}
.headline textarea.h3 {
    font-size: 28px;
}
.headline textarea.h4 {
    font-size: 24px;
}
.headline textarea.h5 {
    font-size: 21px;
}
.headline textarea.h6 {
    font-size: 18px;
}
