.htag ul {
    display: none;
    clear: both;
}

.umb-control.-active .htag ul {
    display: block;
    margin: 0;
    list-style-type: none;
}

.htag li {
    float: left;
    margin-right: 10px;
    color: #dedede;
    cursor: pointer;
    margin-bottom: 10px;
}

.htag li:first-child {
    cursor: default;
    user-select: none;
}

.htag li.active {
    color: #303033;
}

.htag textarea {
    font-weight: bold;
    height: 61px;
    line-height: 45px;
}

.htag textarea.text-left {
    text-align: left;
}
.htag textarea.text-center {
    text-align: center;
}
.htag textarea.text-right {
    text-align: right;
}

.htag textarea.h1 {
    font-size: 36px;
}
.htag textarea.h2 {
    font-size: 32px;
}
.htag textarea.h3 {
    font-size: 28px;
}
.htag textarea.h4 {
    font-size: 24px;
}
.htag textarea.h5 {
    font-size: 21px;
}
.htag textarea.h6 {
    font-size: 18px;
}