@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vufoj0');
  src:  url('../fonts/icomoon.eot?vufoj0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vufoj0') format('truetype'),
    url('../fonts/icomoon.woff?vufoj0') format('woff'),
    url('../fonts/icomoon.svg?vufoj0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-hte-"], [class*=" icon-hte-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hte-align-center:before {
  content: "\e901";
}
.icon-hte-align-justify:before {
  content: "\e902";
}
.icon-hte-align-left:before {
  content: "\e903";
}
.icon-hte-align-right:before {
  content: "\e904";
}
.icon-hte-heading:before {
  content: "\e900";
}
